.dot-nav{
    display: inline-block;
    width: 28px;
    height: 18px;
    border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -ms-border-radius: 20px 0 0 20px;
    -o-border-radius: 20px 0 0 20px;
    background-color: #959595;
    margin-top: 10px;
    transition: ease-in-out 0.2s;
    font-size: 0px;
}

.dot-navigation{
    width: 60px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    position: relative;
    margin-right: 20px;
    right: 0;
}

.active-dot{
    width: 49px;
    background-color: #79BEDC;
    transition: ease-in-out 0.2s;
}

@media screen and (max-width:844px) {
    .dot-nav{
        width: 20px;
        height: 10px;
    }

    .active-dot{
        width:40px;
    }
}